<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_blog}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }


    </style>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            [# th:if="${errorMessage}"]
                var errorMessage = [[${errorMessage}]];
                if(errorMessage != null){
                    alert(errorMessage);
                }
            [/]
        });
    </script>
</th:block>
</html>

