<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header">
    <nav class="navbar">
        <div class="navbar-logo">
            <button type="button" class="btn_home btn_none-style" onclick="location.href='/'">
                <i class="bi bi-house"></i>
            </button>
            <button type="button" class="btn_cancel btn_none-style" onclick="history.back()">
                <i class="bi bi-backspace"></i>
            </button>
        </div>
    </nav>
</header>

</html>