<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <section layout:fragment="content">
        본문
        <button type="button" class="btn btn-primary" onClick="location.href='/members/login'">로그인</button>
        <button type="button" class="btn btn-primary" onClick="location.href='/members/new'">회원가입</button>
        <button type="button" class="btn btn-primary" onClick="location.href='/blogs/new'">블로그생성</button>
    </section>

</html>